global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
      {% for host in groups['tank_nodes'] -%}
      {% if inventory_hostname != host %}- '{{ hostvars[host]['ansible_default_ipv4']['address'] }}:9100'{% endif %}
      {% endfor %}
      {% for host in groups['cassandra_nodes'] -%}
      {% if inventory_hostname != host and host not in groups['tank_nodes'] %}- '{{ hostvars[host]['ansible_default_ipv4']['address'] }}:9100'{% endif %}
      {% endfor %}