input {
  beats {
    port => 5044
  }
}

filter {
  grok {
    match => {
      "message" => ["%{DATESTAMP:timestamp} \[%{WORD:rw1}-%{INT:rn1}-%{INT:rn2}\] INFO  Application - %{NUMBER:statusCode} %{WORD:statusMessage}: %{WORD:method} - %{URIPATHPARAM:path}",
                    "%{DATESTAMP:timestamp} \[%{WORD:rw1}-%{WORD:rw2}-%{INT:rn2}\] DEBUG io.marauder.tank.Tyler - %{NUMBER:duration} ms - %{GREEDYDATA:statusMessage}",
                      "%{DATESTAMP:timestamp} \[%{WORD:rw1}-%{WORD:rw2}-%{INT:rn2}\] INFO  io.marauder.tank.FileWaitGroup - %{GREEDYDATA:statusMessage}"
      ]
    }
  }
  
  if "_grokparsefailure" in [tags] {
    drop { }
  }

}

output {
  elasticsearch {
    hosts => ["http://es01:9200"]
    index => "tank-logs" 
  }
}